html, body {
  height: 100%;
  margin: 0;
}

.contact-section {
  background-color: #e1f5fe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100vw; 
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

.contact-content {
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.contact-description {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 20px;
}

.contact-info ul {
  list-style-type: none;
  padding: 0;
}

.contact-info li {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 10px;
}

.contact-info a {
  color: #00695c;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

.contact-info li.address {
  font-size: 1.1rem;
  color: #333;
  margin-top: 20px;
}

.contact-image {
  max-width: 100%; 
  height: auto; 
  border-radius: 10px; 
  margin-bottom: 30px; 
}

