---
import '../styles/About.css'; 
import { Image } from 'astro:assets';
import paul from '../assets/paul.jpg'; 
import arun from '../assets/arun.jpg'; 
import aneesh from '../assets/aneesh.jpg'; 
---

<section id="about" class="about-section">
  <div class="about-container">
    <h1>About Us</h1>
    <p>Meet the dedicated team:</p>

    <div class="team-member">
      <div class="photo">
        <Image src={paul} alt="Paul K Shans" />
      </div>
      <div class="details">
        <h2>Paul K Shans</h2>
        <h3>Designer and Hardware Specialist</h3>
        <p>Paul is a visionary designer and a skilled hardware specialist with years of experience crafting innovative solutions. He bridges creativity and technical expertise to deliver exceptional results.</p>
      </div>
    </div>

    <div class="team-member">
      <div class="photo">
        <Image src={arun} alt="Arun George Saji" />
      </div>
      <div class="details">
        <h2>Arun George Saji</h2>
        <h3>Senior Software Engineer and Embedded System Engineer</h3>
        <p>Arun is a talented software engineer who specializes in low level development. His dedication to innovation drives our software development and ensures seamless integration of cutting-edge technologies.</p>
      </div>
    </div>

    <div class="team-member">
      <div class="photo">
        <Image src={aneesh} alt="Aneesh Mohan" />
      </div>
      <div class="details">
        <h2>Aneesh Mohan</h2>
        <h3>Mentor and Strategy Expert</h3>
        <p>Aneesh brings decades of experience as a mentor and strategist. His expertise guides our team toward success and ensures that every project aligns with our long-term vision.</p>
      </div>
    </div>
  </div>
</section>
