---
import '../styles/Contact.css'; 
import { Image } from 'astro:assets';
import atl from '../assets/atl.jpg'; 
---

<section id="contact" class="contact-section">
  <div class="contact-content">
    <img src={atl} class="contact-image" />
    <p class="contact-description">
      We'd love to hear from you! Whether you have questions, feedback, or suggestions, feel free to reach out to us via email.
    </p>
    <div class="contact-info">
      <ul>
        <li>Email: <a href="mailto:arungeorgesaji@gmail.com">arungeorgesaji@gmail.com</a></li>
        <li>Phone: +91 7994800801</li>
        <li class="address">Address: XFW7+9V3, Kadayiruppu, Kolenchery, Kerala 682311</li>
      </ul>
    </div>
  </div>
</section>
